@import url('https://fonts.googleapis.com/css?family=Poppins');

body
{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}
.spacer
{
    height: 80px;
}
/*Navigation Menu*/
nav
{
    width: 100%;
    height: 50px;
    background-color: #e8f7fc;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    position: sticky;
    top: 0;
    font-family:'Poppins', sans-serif;
}
nav ul
{
    display: flex;
    margin: 0;
    padding: 0, 100px;
    float: right;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display:block;
    color: black;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}
nav ul li a.active
{
    background: #8dbcc9;
}
.heading
{
    margin-left: 4%;
}
/*Contact Us*/
.contact-box
{
    background: #fff;
    display: flex;
}
.contact-left
{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right
{
    flex-basis: 40%;
    padding: 40px;
    background: #8dbcc9;
    color: #fff;
    height: 400px;
    margin-right: 30px;
}
.input-row
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group
{
    flex-basis: 45%;
}
input
{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;

}
textarea
{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label
{
    margin-bottom: 6px;
    display: block;
    color: #8dbcc9;
}
.btn-contact
{
    background:#8dbcc9;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;

}
.contact-left h3
{
    color: #8dbcc9;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3
{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child
{
    padding-right: 20px;
}
tr td
{
    padding-top: 20px;
}